.react-tagsinput {
  position: relative;
  min-height: 50px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  overflow: hidden;
  padding: 8px 20px;
  transition: none;
}

.react-tagsinput::before {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 18px;
  content: '';
}

.react-tagsinput--focused {
  box-shadow: none;
}

.react-tagsinput-tag {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  padding: 3px 10px 2px;
  margin-bottom: 0;
}

.react-tagsinput-remove {
  position: relative;
  top: 1px;
  cursor: pointer;
  display: inline-block;
  padding-left: 10px;
  font-size: 18px;
  line-height: 1;
}

.react-tagsinput-remove::before {
  content: '×';
}

.react-tagsinput-input {
  font-family: AvenirNext;
  background: transparent;
  height: 30px;
  border: 0;
  color: #000;
  font-size: 14px;
  outline: none;
  padding: 0;
  margin: 0;
}

.react-tagsinput-input::placeholder {
  color: #ccc;
}

.react-tagsinput-input input {
  font-family: AvenirNext;
  background: transparent;
  height: 30px;
  border: 0;
  color: #000;
  font-size: 14px;
  outline: none;
}
